# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output go command
*.test
*.out

# Codesystem files
bin/
vendor/
.ignore/
*.env

# Go workspace file
go.work

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?