name: codesystem-checker
# codesystem-checker workflow test the github action published on the git marketplace

on:
  workflow_run:
    workflows: ["Bundle assets"]
    types:
      - completed

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get assets for app simulation
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: 'gofast-pkg/codesystem'
          file: 'app-codesystem.zip'
      - name: Get assets for lib simulation
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: 'gofast-pkg/codesystem'
          file: 'lib-codesystem.zip'
      - name: extract assets
        run: |
          unzip -q -d simu_app app-codesystem.zip
          unzip -q -d simu_lib lib-codesystem.zip
      - name: run codesystem-checker on simu_app
        uses: ./
        with:
          type: app
          context: ./simu_app
      - name: run codesystem-checker on simu_lib
        uses: ./
        with:
          type: lib
          context: ./simu_lib